extends ./layout/index

block slider
    .slider     
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, laboriosam, repudiandae repellendus doloribus veniam minima amet exercitationem cum necessitatibus natus.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, laboriosam, repudiandae repellendus doloribus veniam minima amet exercitationem cum necessitatibus natus.

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen inicio", class="img-fluid")

        include ./layout/bloque-viajes
    
    .descuento
        .container
            .row
                .col-md-6
                    .contenido 
                        h3 5% de descuento 
                        p.titulo Viaje a canada 
                        p.fecha 20 de Marzo - 28 de Marzo de 2025
                        p.precio $2 500 USD
    
    .container
        h2.mt-5.text-center Testimoniales